/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .leaflet-bar{
     box-shadow: none;
     position: fixed;
     bottom: 20px;
     left: 10px;
   }

   .custom .leaflet-popup-tip,
   .custom .leaflet-popup-content-wrapper {
     background: rgba(10,10,10,0.8);
     font-family: 'Raleway', sans-serif;
     color: #ccc;
     text-align: center;
     padding-bottom: 2px;
    }

  #home-title {
    font-size: 36pt;
  }

  #home-title::after {
    content: "----------";
    font-size: 24pt;
    margin-top: -24px;
    display: block;
  }

  #aboutPane {
   font-family: 'Raleway', sans-serif;
   font-size: 24px;
   color: #ccc;
   position: absolute;
   left: 22vw;
   width: 100%; /* 100% width */
   padding-right: 100px;
   height: auto;
   text-align: left; /* Centered text/links */
   transition: 0.5s;
  }

  #aboutPane .closebtn {
    position: absolute;
    top: -100px;
    right: 80px;
    font-size: 60px;
  }

    /* The Overlay (background) */
.overlay {
 /* Height & width depends on how you want to reveal the overlay (see JS below) */
 height: 100%;
 width: 0%;
 position: fixed; /* Stay in place */
 z-index: 3; /* Sit on top */
 display: flex;
 flex-direction: column;
 justify-content: center;
 left: 0;
 top: 0;
 background-color: rgb(0,0,0); /* Black fallback color */
 background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
 overflow-x: hidden; /* Disable horizontal scroll */
 overflow-y: hidden; /* Disable horizontal scroll */
 transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
 font-family: 'Raleway', sans-serif;
 left: 10%;
 width: 90%; /* 100% width */
 text-align: right; /* Centered text/links */
 transition: 0.5s;
}

/* The navigation links inside the overlay */
.overlay a {
 padding: 8px;
 text-decoration: none;
 outline: none;
 font-size: 36px;
 color: #ccc;
 display: block; /* Display block instead of inline */
 transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
 color: #00aeff;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
 position: absolute;
 top: 20px;
 right: 45px;
 font-size: 60px;
}

.overlay .aboutclosebtn {
 position: absolute;
 top: -25%;
 right: 75px;
 font-size: 60px;
}

.open {
  width: 20%;
}

/* leaflet layers control plugin css */
.leaflet-control-layers {
  background: rgba(10,10,10,0.8);
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
  padding: 20px;
  color: #ccc;
  overflow-y: auto;
  max-height: 95vh;
  width: 330px;
}

/* Sub Menus */

.mental-maps-menu {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0,0,0,0.9);
  margin-top: 45px;
  height: auto;
  width: 0vw;
  left: 20vw;
  top: 38vh;
  overflow-y: auto;
  line-height: 1;
  font-family: 'Raleway';
  font-size: 18pt;
  padding-bottom: 5px;
  margin-left: 10px;
  transition: 0.5s;
  overflow-x: hidden;
  overflow-y: hidden;
}

.admin-maps-menu {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0,0,0,0.9);
  margin-top: 80px;
  height: auto;
  width: 0vw;
  left: 20vw;
  top: 46vh;
  overflow-y: auto;
  line-height: 1;
  font-family: 'Raleway';
  font-size: 18pt;
  padding-bottom: 5px;
  margin-left: 10px;
  transition: 0.5s;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* The navigation links inside the overlay */
.submenu-content a {
 padding: 8px;
 text-decoration: none;
 outline: none;
 font-size: 36px;
 color: #ccc;
 display: block; /* Display block instead of inline */
 transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.submenu-content a:hover {
 color: #00aeff;
 text-decoration: none;
}

#menu {
  position: absolute;
  display: block;
  z-index: 2;
  font-size: 30pt;
  font-weight: 600;
  padding-left: 10px;
  cursor: pointer;
}

#menu:hover {
  color: #00aeff;
}


#map {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* Legend */

.legend {
  position: absolute;
  font-size: 16pt;
  color: #555;
  top: 40px;
  margin: 10px;
  padding: 5px;
  height: auto;
  z-index: 2;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
}
.legend .closebtn {
  position: relative;
  font-size: 24pt;
  color: #555;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}
.legend .closebtn:hover {
  color: #00aeff;
}
#legendTable td {
  padding: 5px;
}
.legendLabel {
  text-align: center;
}
#legendOpened {
  display: none;
}
#legendClosed {
  display: block;
  background: none;
}


/* Media Queries */

@media screen and (max-width: 1200px) {
  #title {
    font-size: 45pt;
  }
  #aboutPane {
    font-size: 12pt;
    padding-right: 50px;
  }
  .closebtn {
    left: 0;
  }
  .aboutclosebtn {
    left: -5%;
  }
  .overlay-content {
    text-align: left;
  }
  .overlay a {
    font-size: 20pt;
    padding-bottom: 0px;
  }
  .submenu-content a {
    font-size: 20pt;
    padding-bottom: 0px;
  }
  .mental-maps-menu {
    top: 36vh;
  }
  .admin-maps-menu {
    top: 44vh;
  }
 .legend {
   font-size: 12pt;
 }
 #legendTable td {
   padding: 0px;
   padding-left: 5px;
 }
 .leaflet-control-layers {
   width: 200px;
   font-size: 12pt;
 }
}

@media screen and (max-height: 750px) {
 #title {
   letter-spacing: 0.3em;
   font-size: 50pt;
 }
}

@media screen and (max-height: 550px) {
 .overlay a {
   font-size: 18pt;
   padding-bottom: 0px;
 }
 #title {
   letter-spacing: 0.3em;
   font-size: 35pt;
 }
 #home-title {
   font-size: 20pt;
 }
 #home-title::after {
   content:'------';
 }
 #aboutPane {
   font-size: 9pt;
 }
}

@media screen and (max-height: 450px) {
 #aboutPane {
   font-size: 8pt;
 }
 #home-title {
   margin-bottom: -10px;
 }
 .closebtn {
   margin-top: -55px;
 }
}
